<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/foto-gratis/camarero-feliz-sirviendo-comida-grupo-amigos-alegres-pub_637285-12525.jpg?w=996&t=st=1677954662~exp=1677955262~hmac=43be6fb3fff6b697ea9be957d6e678e196c4c02e5b095480b815baa9e0c1c81d);">
  <div class="container">
    <h1>Encuentra  <strong>los mejores</strong> restaurantes  <strong>de tu ciudad</strong>!</h1>
    <p>Registra ru restaurante GRATIS</p>
    <a class="btn btn-flat" href="#">Registrar</a>
  </div>
</div>

